@{
    ViewBag.Title = "项目管理";
}

<div class="am-cf am-padding">
    <div class="am-fl am-cf"><a href="/"><strong class="am-text-primary am-text-lg">首页</strong></a> /<small>项目管理</small></div>
</div>
<div id="searchDomain">

    <div class="am-g">
        <div class="am-u-lg-12">
            <div class="am-input-group am-input-group-sm">
                <span class="am-input-group-label ">名称</span>
                <input type="text" class="am-form-field" placeholder="按名称搜索" name="name" ;>

                <span class="am-input-group-btn am-margin-left-sm">
                    <button class="am-btn am-btn-default" id="btnSearch" type="button">搜索</button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="am-g am-margin-top">
    <div class="am-u-lg-12">
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <button onclick="add()" type="button" class="am-btn am-btn-xs"><span class="am-icon-plus"></span> 新增</button>
            </div>
        </div>
    </div>
</div>
<div class="grid_container">
    <table id="dataTable" class="am-table am-table-striped am-table-hover table-main">
        <thead>
            <tr>
                <th dataname="id" type="checkbox"></th>
                <th dataname="name">名称</th>
                <th dataname="country_code">国家</th>
                <th dataname="price">价格</th>
                <th dataname="url">网址</th>
                <th type="eventlist"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section scripts
{
    <script type="text/javascript">
        function ClearFilter() {
            $("#searchDomain input").val("");
        }
        $('[name=createdTimeStart]').datepicker({ format: 'yyyy-mm-dd' });
        $('[name=createdTimeEnd]').datepicker({ format: 'yyyy-mm-dd' });

        function add()
        {
            $.Nuoya.ajaxDialog({
                closeViaDimmer: false,
                ajaxUrl: "/Areas/Admin/HtmlTemplates/Project/Add.html",
                title: "新增项目",
                callback: function (e) {
                        formInit();//表单初始化
                },
                buttons: [{
                    label: "保存",
                    callback: function (e) {

                        $.Nuoya.form("form").ajaxSubmit({
                            ajaxUrl: "/Project/Add",
                            callback: function (data) {
                                if (!data.ErrorDesc) {
                                    e.hide();
                                    grid.reload();
                                }
                                else
                                    $.Nuoya.alert(data.ErrorDesc);
                            }
                        });
                    }
                }]
            })
        }


        function formInit() {
            //添加表单验证
            $.Nuoya.form("form").validate({
                rules: {
                    name: {
                        maxlength: 50,
                        required: true,
                    },
                    description: {
                        maxlength: 200,
                        required: true,
                    },
                   
                    country_code:
                    {
                        required: true,
                    },
                    url:
                    {
                        maxlength: 126,
                    }
                },
                messages: {
                    name: {
                        maxlength: "最多{0}个字符",
                        required: "名称不允许为空",
                    },
                    description: {
                        maxlength: "最多{0}个字符",
                        required: "申请说明不允许为空",
                    },
                    country_code: {
                        required: "国家不允许为空",
                    },
                    url: {
                        maxlength: "最多{0}个字符",
                    }
                }
            });
        }

        var grid = $.Nuoya.grid({
            tableId: "dataTable",
            //表格id
            search: {
                domainId: "searchDomain",
                subId: "btnSearch"
            },
            isForPhone:true,
            ajaxUrl: "/Project/GetPageList",
            //数据请求地址
            pageSize: 10,
            events: [
 
           
            ]
        });
    </script>
}
