@{
    ViewBag.Title = "提现管理";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="am-cf am-padding">
    <div class="am-fl am-cf"><a href="/"><strong class="am-text-primary am-text-lg">首页</strong></a> /<small>提现管理</small></div>
</div>
<div id="searchDomain">

    <div class="am-g">
        <div class="am-u-lg-12">
            <div class="am-input-group am-input-group-sm">
                <span class="am-input-group-label  m-margin-left-sm">提现日期</span>
                <input type="text" class="am-form-field" placeholder="请选择日期" name="createdTimeStart" readonly style="width:auto;">
                <span class="am-input-group-label"> - </span>
                <input type="text" class="am-form-field" placeholder="请选择日期" name="createdTimeEnd" readonly style="width:auto;">
                <span class="am-input-group-btn am-margin-left-sm">
                    <button class="am-btn am-btn-default" id="btnSearch" type="button">搜索</button>
                    <button class="am-btn am-btn-default" onclick="ClearFilter()" type="button">清除</button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="grid_container">
    <table id="dataTable" class="am-table am-table-striped am-table-hover table-main">
        <thead>
            <tr>
                <th dataname="id" type="checkbox"></th>
                <th dataname="app_user_name">提现者</th>
                <th dataname="amount">金额</th>
                <th dataname="before_funds">提现前金额</th>
                <th dataname="after_funds">提现后金额</th>
                <th render="showPayType">方式</th>
                <th render="showAuditState">状态</th>
                <th dataname="audit_time" datatype="jsondate">审核日期</th>
                <th dataname="create_time" datatype="jsondate">创建日期</th>
                <th type="eventlist"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section scripts
{
    <script type="text/javascript">
        function ClearFilter() {
            $("#searchDomain input").val("");
        }
        $('[name=createdTimeStart]').datepicker({ format: 'yyyy-mm-dd' });
        $('[name=createdTimeEnd]').datepicker({ format: 'yyyy-mm-dd' });

        function showState(item)
        {
            switch (item.order_state)
            {
                case "1":
                    return "等待支付";
                    break;
                case "2":
                    return "支付成功";
                    break;
            }
        }
        function showType(item) {
            switch (item.type) {
                case "0":
                    return "人工";
                    break;
                case "1":
                    return "支付宝";
                    break;
                case "2":
                    return "微信";
                    break;
            }
        }

        function formInit(dataitem) {
            //添加表单验证
            $.Nuoya.form("form").validate({
                rules: {
                    audit_state: {
                        required: true,
                    },
                },
                messages: {
                    audit_state: {
                        required: "名称不允许为空",
                    },
                }
            });
        }

        var grid = $.Nuoya.grid({
            tableId: "dataTable",
            //表格id
            search: {
                domainId: "searchDomain",
                subId: "btnSearch"
            },
            isForPhone: true,
            ajaxUrl: "/Admin/Withdrawals/GetPageList",
            //数据请求地址
            pageSize: 10,
            events: [
                   {
                       className: "am-text-secondary",
                       icon: "icon-pencil-square-o",
                       name: "审核",
                       formula: function (item) {
                           if (item.audit_state ==0) {
                               return true;
                           }
                           else {
                               return false;
                           }
                       },
                       click: function (item) {
                           $.Nuoya.ajaxDialog({
                               closeViaDimmer: false,
                               ajaxUrl: "/Areas/Admin/HtmlTemplates/Withdrawals/Audit.html",
                               title: "审核",
                               callback: function (e) {
                                   $.Nuoya.action("/Admin/Withdrawals/Find", { id: item.id }, function (model) {
                                       formInit(model);//表单初始化
                                       //载入数据
                                       $.Nuoya.form("form").dataLoad({
                                           data: model
                                       });
                                   });
                               },
                               buttons: [{
                                   label: "保存",
                                   callback: function (e) {

                                       $.Nuoya.form("form").ajaxSubmit({
                                           ajaxUrl: "/Admin/Withdrawals/Audit",
                                           params: {
                                               id: item.id
                                           },
                                           callback: function (data) {
                                               if (!data.ErrorDesc) {
                                                   e.hide();
                                                   grid.reload();
                                               }
                                               else
                                                   $.Nuoya.alert(data.ErrorDesc);
                                           }
                                       });
                                   }
                               }]
                           })
                       }
                   }
            ]
        });
    </script>
}
