
@{
    ViewBag.Title = "个人中心";
}
<hr />
<div class="am-g  am-padding-top-xl">
    <div class="am-u-md-12">
        <div class="am-panel am-panel-default">
            <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-1'}">用户投稿<span class="am-icon-chevron-down am-fr"></span></div>
            <div id="collapse-panel-1" class="am-in">

                <div class="am-cf am-padding am-padding-bottom-0">
                    <div class="am-fl am-cf">
                        <strong class="am-text-primary  am-text-lg">累计投稿</strong> :<span class="am-text-danger am-text-lg"></span>篇
                    </div>
                </div>
                <div class="am-cf am-padding am-padding-bottom-0">
                    <div class="am-fl am-cf">
                        <strong class="am-text-primary am-text-lg">稿件审核中</strong> :<span class="am-text-danger am-text-lg"></span>篇
                    </div>
                </div>
                <div class="am-cf am-padding am-padding-bottom-0">
                    <div class="am-fl am-cf">
                        <strong class="am-text-primary am-text-lg">通过稿件数</strong> :<span class="am-text-danger am-text-lg"></span>篇
                    </div>
                </div>
                <div class="am-cf am-padding am-padding-bottom-0">
                    <div class="am-fl am-cf">
                        <strong class="am-text-primary am-text-lg">被退稿件</strong> :<span class="am-text-danger am-text-lg"></span>篇
                    </div>
                </div>
                <div class="am-cf am-padding am-padding-bottom-sm">
                    <div class="am-fl am-cf">
                        <strong class="am-text-primary am-text-lg">草稿箱</strong> :<span class="am-text-danger am-text-lg"></span>篇
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

